<section class="relative overflow-hidden">
  <app-floating-objects></app-floating-objects>
  <app-overview
    class="block container relative pt-32 pb-24 lg:pt-36 lg:pb-30"
    [about]="about"
  ></app-overview>
</section>

<section class="pb-8 bg-slate-900">
  <app-services
    class="block container relative py-20"
    [services]="services"
  ></app-services>
</section>

<app-projects
  class="block container relative py-20"
  [projects]="projects"
></app-projects>

<app-career
  class="block container relative py-20"
  [career]="career"
></app-career>

<app-contact
  class="block container relative py-20 pb-36"
  [email]="about.email"
></app-contact>
