<section class="relative overflow-hidden">
  <app-floating-objects></app-floating-objects>
  <app-overview class="section before:hidden" [about]="about"></app-overview>
</section>

<section class="bg-slate-900">
  <app-skills class="block section"></app-skills>
</section>

<!-- Projects Section -->
<section>
  <app-projects class="block section" [projects]="projects"></app-projects>
</section>

<!-- Career Section -->
<section class="bg-slate-900">
  <app-career class="block section"></app-career>
</section>

<!-- Contact Me Section -->
<section>
  <app-contact class="block section" email="rabraghib@gmail.com"></app-contact>
</section>
