<app-title
  overline="Contact Me"
  title="Get In Touch"
  class="text-center !mb-6 !lg:mb-10"
></app-title>

<div
  data-aos="fade-up"
  class="flex gap-6 justify-between text-center items-center flex-col"
>
  <p class="tracking-wide leading-7 max-w-prose">
    My inbox is always open! Feel free to get in touch with me. Whether to
    discuss new projects/opportunities, creative ideas or just to say Hi! I will
    definitely respond back to you asap.
  </p>

  <a
    class="group text-slate-200 border border-blue-100 hover:bg-blue-100 hover:text-black font-bold leading-relaxed uppercase text-base px-6 py-3 rounded ease-linear transition-all duration-150"
    [href]="'mailto:' + email"
  >
    <ngaox-icon
      name="inbox"
      class="w-4 align-middle mr-3 mb-px text-blue-100 group-hover:text-black"
    ></ngaox-icon>
    <span class="inline-block align-middle tracking-wide">MAIL ME!</span>
  </a>
</div>
