<app-title
  overline="Contact Me"
  title="Get In Touch"
  class="text-center !mb-6 !lg:mb-10"
></app-title>

<div
  data-aos="fade-up"
  class="flex gap-6 justify-between text-center items-center flex-col"
>
  <p class="tracking-wide leading-7 max-w-prose">
    My inbox is always open! Feel free to get in touch with me. Whether to
    discuss new projects/opportunities, creative ideas or just to say Hi! I will
    definitely respond back to you.
  </p>

  <a
    class="group block w-max rounded-sm leading-relaxed py-2 px-4 transition-colors sm:py-3 sm:px-8 text-sm sm:text-base md:text-lg border-2 border-blue-100 text-white hover:bg-blue-100 hover:text-black font-bold"
    [href]="'mailto:' + email"
  >
    <ngaox-icon
      name="inbox"
      class="w-5 align-middle mr-3 text-blue-100 group-hover:text-black"
    ></ngaox-icon>
    <span class="inline-block align-middle leading-[1px]">MAIL ME!</span>
  </a>
</div>
