<app-title
  overline="Things I Master"
  title="What I Do?"
  class="text-center"
></app-title>

<div class="relative max-w-lg lg:max-w-none mx-auto">
  <ngaox-icon
    name="dots-grid"
    class="w-20 h-20 text-blue-100 md:w-28 md:h-28 absolute top-0 left-0 -translate-x-1/2 -translate-y-1/4"
  ></ngaox-icon>
  <ngaox-icon
    name="dots-grid"
    class="w-20 h-20 text-blue-100 md:w-28 md:h-28 absolute bottom-0 right-0 translate-x-1/2 translate-y-1/4"
  ></ngaox-icon>
  <div class="relative bg-black px-4 py-6 rounded-xl grid gap-4 lg:grid-cols-3">
    <app-service-card
      *ngFor="let service of services; let i = index"
      [service]="service"
      data-aos="fade-up"
      attr.data-aos-delay="{{ (i + 1) * 150 }}"
    ></app-service-card>
  </div>
</div>
