<!-- <div
  class="sticky col-span-full row-[1/2] z-50 top-2 mt-4 md:mt-5 hidden md:block"
>
  <rabraghib-sidebar [links]="data.about.socialLinks"></rabraghib-sidebar>
</div>
<main class="app_container col-span-full row-span-full" #pageTop>
  <rabraghib-overview
    [data]="data.about"
    (TakeAction)="TakeAction(CTAContainer)"
  ></rabraghib-overview>
  <div class="py-20 md:py-24 px-4 sm:px-10 md:px-14lg:px-24 grid gap-28">
    <div class="py-10">
      <rabraghib-projects [projects]="data.projects"></rabraghib-projects>
    </div>
    <div #CTAContainer class="py-10">
      <rabraghib-contact
        [data]="data.about.contact"
        [links]="data.about.socialLinks"
      ></rabraghib-contact>
    </div>
  </div>
  <rabraghib-footer
    (TakeAction)="TakeAction(pageTop)"
    [name]="data.about.name"
  ></rabraghib-footer>
</main> -->
