<div
  class="sticky col-span-full row-[1/2] z-50 top-2 mt-4 md:mt-5 hidden md:block"
>
  <app-navbar [links]="SocialProfiles"></app-navbar>
</div>
<main class="app_container col-span-full row-span-full" #pageTop>
  <app-overview
    [data]="data.about"
    (TakeAction)="TakeAction(CTAContainer)"
  ></app-overview>
  <div class="py-20 md:py-24 px-4 sm:px-10 md:px-14lg:px-24 grid gap-28">
    <div class="py-10">
      <app-projects [projects]="data.projects"></app-projects>
    </div>
    <div #CTAContainer class="py-10">
      <app-contact
        [email]="data.about.email"
        [links]="SocialProfiles"
        [name]="data.about.name"
        [avatar]="data.about.avatar"
        [handle]="data.about.handle"
        [cliPackageName]="data.about.cli.packageName"
      ></app-contact>
    </div>
  </div>
  <app-footer
    (TakeAction)="TakeAction(pageTop)"
    [name]="data.about.name"
  ></app-footer>
</main>
