<article
  class="rounded"
  [ngClass]="[
    'p-6 lg:p-0 shadow-md lg:shadow-none bg-slate-900 lg:bg-transparent',
    'lg:grid grid-cols-12 items-center'
  ]"
>
  <h2 class="text-xl sm:text-2xl font-bold lg:hidden mb-5">
    <a
      class="hover:text-slate-400 text-white"
      target="_blank"
      [href]="project.liveUrl ?? project.sourceUrl"
    >
      {{ project.name }}
    </a>
  </h2>
  <a
    class="lg:row-span-full h-full lg:h-auto {{
      switchDirection
        ? 'col-start-1 col-end-[-1] lg:col-end-8'
        : 'col-start-1 col-end-[-1] lg:col-start-6'
    }}"
    class="block cursor-pointer"
    [href]="project.liveUrl ?? project.sourceUrl"
    rel="noopener noreferrer"
    target="_blank"
  >
    <div
      class="bg-blue-100 rounded shadow-md relative w-full h-full bg-cover bg-center"
      [ngStyle]="{
        'padding-top': (100 * 9) / 16 + '%',
        'background-image': 'url(' + project.thumbnail + ')'
      }"
      [ngClass]="[
        'before:absolute before:w-full before:h-full before:top-0 before:left-0',
        'before:transition-opacity before:duration-300',
        'before:bg-blue-900 before:bg-opacity-75 hover:before:opacity-0'
      ]"
    ></div>
  </a>
  <div
    class="z-10 lg:row-span-full h-full lg:h-auto items-center grid lg:block {{
      switchDirection
        ? 'lg:text-right col-start-1 col-end-[-1] lg:col-start-6'
        : 'col-start-1 col-end-[-1] lg:col-end-8'
    }}"
  >
    <h2 class="text-2xl xl:text-3xl font-bold hidden lg:block">
      <a
        class="hover:text-slate-400 text-white"
        target="_blank"
        [href]="project.liveUrl ?? project.sourceUrl"
      >
        {{ project.name }}
      </a>
    </h2>
    <div
      [innerHTML]="project.description"
      class="lg:bg-slate-900 text-slate-400 tracking-wide lg:p-6 my-5 rounded lg:shadow-md transition-opacity"
    ></div>
    <div
      class="flex gap-3 {{
        switchDirection ? 'lg:flex-row-reverse' : 'lg:flex-row'
      }}"
    >
      <a
        class="hover:text-primary"
        target="_blank"
        [href]="project.liveUrl"
        *ngIf="project.liveUrl"
      >
        <ngaox-icon
          name="arrows:external-link"
          class="w-6 align-middle"
          alt="Visit"
        ></ngaox-icon>
      </a>
      <a
        class="hover:text-primary"
        target="_blank"
        *ngIf="project.sourceUrl"
        [href]="project.sourceUrl"
      >
        <ngaox-icon
          name="github"
          class="w-6 align-middle"
          alt="Source Code"
        ></ngaox-icon>
      </a>
      <span>|</span>
      <a
        class="!hover:text-primary"
        target="_blank"
        *ngFor="let topic of project.topics"
        >{{ topic }}</a
      >
    </div>
  </div>
</article>
