<div
  class="md:grid grid-cols-12 items-center rounded p-6 md:p-0 shadow-md md:shadow-none bg-black md:bg-transparent"
>
  <h2 class="text-xl sm:text-2xl font-bold md:hidden mb-5">
    <a
      class="hover:text-gray-300 text-gray-50"
      target="_blank"
      [href]="project.liveUrl"
    >
      {{ project.name }}
    </a>
  </h2>
  <a
    class="md:row-span-full h-full md:h-auto {{
      switchDirection
        ? 'col-start-1 col-end-[-1] md:col-end-9 lg:col-end-8'
        : 'col-start-1 col-end-[-1] md:col-start-5 lg:col-start-6'
    }}"
    class="block cursor-pointer"
    [href]="project.liveUrl"
    rel="noopener noreferrer"
    target="_blank"
  >
    <div
      class="bg-gray-700 rounded shadow-md relative w-full h-full before:bg-cover before:bg-center before:absolute before:bg-primary-900 before:bg-opacity-75 before:w-full before:h-full before:top-0 hover:before:opacity-0 before:transition-opacity before:duration-300 bg-cover"
      [ngStyle]="{
        'padding-top': 900 / 16 + '%',
        'background-image': 'url(' + project.thumbnail + ')'
      }"
    ></div>
  </a>
  <div
    class="z-10 md:row-span-full h-full md:h-auto items-center grid md:block {{
      switchDirection
        ? 'md:text-right col-start-1 col-end-[-1] md:col-start-5 lg:col-start-6'
        : 'col-start-1 col-end-[-1] md:col-end-9 lg:col-end-8'
    }}"
  >
    <h2 class="text-2xl lg:text-3xl font-bold hidden md:block">
      <a
        class="hover:text-gray-300 text-gray-50"
        target="_blank"
        [href]="project.liveUrl"
      >
        {{ project.name }}
      </a>
    </h2>
    <div
      class="bg-black text-gray-400 tracking-wide md:p-6 my-5 rounded md:shadow-md transition-opacity"
    >
      {{ project.description }}
      <div class="text-left mt-2">
        <b class="text-gray-300">Tech:</b> {{ JoinTags(project.topics) }}
      </div>
    </div>
    <div
      class="text-right {{
        switchDirection ? 'md:text-right' : 'md:text-left'
      }}"
    >
      <a
        class="hover:text-primary {{ project.sourceUrl ? 'mr-3' : '' }}"
        target="_blank"
        [href]="project.liveUrl"
        *ngIf="project.liveUrl"
      >
        <ngaox-icon
          name="arrows:external-link"
          class="w-6 align-middle"
          alt="Visit"
        ></ngaox-icon>
      </a>
      <a
        class="hover:text-primary"
        target="_blank"
        *ngIf="project.sourceUrl"
        [href]="project.sourceUrl"
      >
        <ngaox-icon
          name="social:github"
          class="w-6 align-middle"
          alt="Source Code"
        ></ngaox-icon>
      </a>
    </div>
  </div>
</div>
