<ul class="flex space-x-6 text-sm font-medium md:pl-10 pr-2">
  <li
    *ngFor="let link of links"
    [ngClass]="{
      'hidden md:block': link.platform !== 'twitter'
    }"
  >
    <a
      [title]="link.brand?.name ?? link.platform"
      [href]="link.url"
      class="block whitespace-nowrap hover:text-white"
      rel="noopener"
      target="_blank"
    >
      <ngaox-icon
        [name]="link.brand?.icons?.['simpleicons'] ?? 'link'"
        class="align-middle h-6 w-6"
      ></ngaox-icon>
    </a>
  </li>
  <li class="pl-6 border-l-[1px] border-blue-100">
    <a
      title="Personal Blog"
      href="https://rabraghib.hashnode.dev/"
      class="block whitespace-nowrap hover:text-white"
      rel="noopener"
      target="_blank"
    >
      <ngaox-icon
        name="blog-logo"
        class="align-middle h-6 w-6 text-blue-100"
      ></ngaox-icon>
      <span class="ml-2 text-sm leading-[1px] align-middle">Blog</span>
    </a>
  </li>
</ul>
