<ul class="flex space-x-8 text-sm font-medium px-10">
  <li>
    <a
      href="#"
      class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:p-0"
      aria-current="page"
      >Home</a
    >
  </li>
  <li *ngFor="let item of ['About', 'Projects', 'Pricing', 'Contact']">
    <a
      href="#{{ item }}"
      class="block py-2 pr-4 pl-3 border-b md:border-0 md:p-0 text-slate-400 md:hover:text-white hover:bg-gray-700 hover:text-white md:hover:bg-transparent border-gray-700"
      >{{ item }}</a
    >
  </li>
</ul>
