@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.container {
  // @apply max-w-7xl mx-auto;
  @apply w-full sm:max-w-2xl md:max-w-4xl lg:max-w-6xl xl:max-w-7xl;
  @apply px-4 lg:px-14 xl:px-20 mx-auto;
}

.section {
  @apply container relative py-24 lg:py-28;
  @apply before:absolute before:text-blue-100 before:text-3xl before:top-0 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2;
  &::before {
    --tw-content: '✦✧✦✧';
  }
}

[data-aos='-rotate-12'] {
  @apply rotate-0;
  transition-property: transform;

  &.aos-animate {
    @apply -rotate-12;
  }
}
