@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.container {
  // @apply max-w-7xl mx-auto;
  @apply w-full sm:max-w-2xl md:max-w-4xl lg:max-w-6xl xl:max-w-7xl;
  @apply px-6 sm:px-10 lg:px-14 xl:px-20 mx-auto;
}

[data-aos='-rotate-12'] {
  @apply rotate-0;
  transition-property: transform;

  &.aos-animate {
    @apply -rotate-12;
  }
}

.float-obj {
  --float-obj-color: #4360b5;
  --float-obj-duration: 10s;
  --float-obj-animation: traverse-up-left;
  z-index: -1;
  background: radial-gradient(closest-side, var(--float-obj-color), #00000000);
  animation: var(--float-obj-animation) var(--float-obj-duration) ease-in-out
    infinite alternate;
}

@keyframes traverse-up-left {
  0% {
  }

  100% {
    transform: translateY(-200px) translateX(-350px) rotate(180deg);
  }
}

@keyframes traverse-up-right {
  0% {
  }

  100% {
    transform: translateY(-300px) translateX(300px) rotate(360deg);
  }
}

@keyframes traverse-circular {
  0% {
  }
  50% {
    transform: translateY(40px) translateX(-80px) rotate(90deg);
  }
  100% {
    transform: translateY(-75px) translateX(-60px) rotate(180deg);
  }
}
