<app-title
  overline="Recent Work"
  title="Latest Projects"
  class="text-center"
></app-title>

<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-1 lg:gap-14">
  <app-project-card
    *ngFor="let item of projects; let i = index"
    [project]="item"
    [switchDirection]="i % 2 !== 0"
    [attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'"
  ></app-project-card>
</div>

<div data-aos="fade-up" class="pt-6 lg:pt-14 text-center">
  <a
    class="text-black rounded bg-blue-100 hover:bg-blue-400 font-semibold text-base px-8 py-4 ease-linear transition-all duration-150 align-middle tracking-wider block w-fit mx-auto"
    href="https://github.com/rabraghib"
  >
    <span>Check out more projects →</span>
  </a>
</div>
